.page {
    position: relative;

    &__bg1 {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 10%;
        padding-top: 95%;
      

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            object-fit: cover;           
            
        }

    }
    &__bg2 {
        position: absolute;
        bottom: 15%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 27%;
        padding-top: 90%;
      

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 80%;
            width: 100%;
            object-fit: cover;           
            
        }

    }


}




.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 77px 0px 136px 0px;

    @media (max-width: 1200px) {
        padding: 70px 0 130px 0;
      
    }
    
    @media (max-width: 992px) {
        padding: 60px 0 125px 0;
        
    }
    
    @media (max-width: 767px) {
        padding: 45px 0 116px 0;
    }
    
    @media (max-width: 479px) {
        padding: 39px 0px 99px 0px;
    }
  

		// .container-page__nav

		&__nav {
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            color: #6B6B6B;
            margin-bottom: 28px;
            @media (max-width: 1200px) {
                margin-bottom: 16px;
            }
            
            @media (max-width: 479px) {
                font-size: 10px;
            }
		}

		// .container-page__body

		&__body {
		}

		// .container-page__step

		&__step {
		}
}
.body-page {
    padding: 105px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1200px) {

      padding: 85px;
      padding-top: 0;
    }

    @media (max-width: 992px) {
    padding: 75px;
    padding-top: 0;
    }

    @media (max-width: 767px) {
    padding: 0;
    }

    @media (max-width: 479px) {
        padding: 0;
    }

  

    p {
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        text-align: left;
        margin-bottom: 33px;

        @media (max-width: 992px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 25px;
        }

        @media (max-width: 479px) {
            font-size: 14px;
            margin-bottom: 20px;
        }

        span {
            font-weight: 700;
        }


    }

    img {
        margin-bottom: 56px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 100%;
        object-fit: cover;

        @media (max-width: 992px) {
    
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        @media (max-width: 479px) {
            margin-bottom: 45px;
        }
    }

    &__title {
          font-weight: 700;
            font-size: 42px;
            line-height: 52px;
            margin-bottom: 42px;
            width: 65%;

            @media (max-width: 1200px) {
                font-size: 38px;
                line-height: 59px;
                width: 75%; 
      
            }

            @media (max-width: 992px) {
                font-size: 36px;
                line-height: 46px;
                width: 85%;
                margin-bottom: 36px;
            }

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 40px;
                width: 100%;
                margin-bottom: 33px;
            }
            @media (max-width: 479px) {
                font-size: 24px;
                line-height: 32px;
                width: 100%;
                margin-bottom: 28px;
            }
            
    }

		// .body-page__subtitle

		&__subtitle {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            text-align: left;
            margin-bottom: 34px;
            align-self: flex-start;

            @media (max-width: 992px) {
                font-size: 22px;
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                    font-size: 20px;
                    margin-bottom: 26px;
            }
            @media (max-width: 479px) {
                font-size: 18px;
                margin-bottom: 22px;
            }
		}
    }

.step-guarantee {

		// .step-guarantee__title

		&__title {
		}

		// .step-guarantee__links

		&__links {
		}
}

@media (max-width: 1200px) {

      
}

@media (max-width: 992px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 479px) {
    
}

@media (max-width: 320px) {
    
}

