@import "_fonts";
@import "_null";
@import "_header";
@import "_main";
@import "_footer";
@import "_blog";
@import "_services";
@import "_blog-page_1";
@import "_faq";


html {
    height: 100%;
}
body {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    color: #343434;
    line-height: 1;
    background: #F5F5F5;
    height: 100%;

}

.block {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1047px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}


.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;  
}

.button-block {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #0081CF;
    box-shadow: 0px 12px 22px -5px rgba(0, 129, 207, 0.62);
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;

    &:hover {
        transform: translate(0, 5px);
    }
}

.title-block {
    font-weight: 800;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    @media (max-width: 1200px) {

      
    }
    
    @media (max-width: 992px) {
        font-size: 30px;
    }
    
    @media (max-width: 767px) {
        font-size: 27px;
    }
    
    @media (max-width: 479px) {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {

      
}

@media (max-width: 992px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 479px) {
    
}
